<html lang="en"> 
<head>
  <link href="uscan/app/assets/stylesheets/search.css" rel="stylesheet">
</head>
<body id="comment">
  <h1>Editing Comment</h1>
  <%= form_for :form, url: form_path(@form), method: :patch do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@form.errors.count, "error") %> prohibited
        this form from being saved:
      </h2>
      <ul>
        <% @form.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
  
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>
  
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </p>
  <div  id="comment-submit-btn"> 
  <p>
    <%= f.submit 'Submit', :class => 'btn btn-success'%>
  </p>
  </div>
<% end %>
 
<div  id="comment-back-btn"> 
<%= button_to "Back",{ :action => "index", :controller =>"forms"}, :class => "btn btn-success ", :method => :get %>
</div>

</body>
</html>