<html lang="en"> 
<head>
  <link href="uscan/app/assets/stylesheets/search.css" rel="stylesheet">
  </head>
<body id="comment">
<div>

<h1>Comment Page</h1>

<%= button_to "Add A Comment",{ :action => "new", :controller =>"forms"}, :class => "btn btn-success ", :method => :get %>
<br>
<br>
<table>
  <tr>
    <th>User</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @form.each do |form| %>
    <tr>
      <td><%= form.first_name %></td>
      <td><%= form.message %></td>
      <td><%= link_to 'Show ', form_path(form) %></td>
      <td><%= link_to ' Edit', edit_form_path(form) %></td>
      <td><%= link_to ' Destroy', 
                                form_path(form),
                                method: :delete,
                                data: { confirm: 'Are you sure?' }  %></td>
    </tr>
  <% end %>
</table>
</div>
</body>
</html>