<html lang="en"> 
<head>
  <link href="uscan/app/assets/stylesheets/search.css" rel="stylesheet">
  </head>
      <header class="container" id="login_navbar">
      <nav class="navbar navbar-inverse bg-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "U-Scan", root_path, class: "navbar-brand" %>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <% if signed_in? %>
              <li><%= link_to "Comment",{ :action => "index", :controller =>"forms"},  :method => :get %></li>
              <li><%= link_to "Search",{ :action => "search", :controller =>"search"},  :method => :get %></li>
              <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign In", sign_in_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

<body id="comment">
<div>

<h1>Comment Page</h1>

<%= button_to "Add A Comment",{ :action => "new", :controller =>"forms"}, :class => "btn btn-success ", :method => :get %>
<br>
<br>
<table>
  <tr>
    <th>User</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @form.each do |form| %>
    <tr>
      <td><%= form.first_name %></td>
      <td><%= form.message %></td>
      <td><%= link_to 'Show ', form_path(form) %></td>
      <td><%= link_to ' Edit', edit_form_path(form) %></td>
      <td><%= link_to ' Destroy', 
                                form_path(form),
                                method: :delete,
                                data: { confirm: 'Are you sure?' }  %></td>
    </tr>
  <% end %>
</table>
</div>
</body>
</html>