<head><link href="uscan/app/assets/stylesheets/search.css" rel="stylesheet"></head>
<div id="contact">

<h1>Contact Us Page</h1>

<%= link_to 'New_Form', new_form_path %>

<table>
  <tr>
    <th>User</th>
    <th>Message</th>
  </tr>
 
  <% @form.each do |form| %>
    <tr>
      <td><%= form.first_name %></td>
      <td><%= form.message %></td>
      <td><%= link_to 'Show', form_path(form) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', forms_path %>