<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UScan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body id="welcome">

    <header class="container">
      <nav class="navbar navbar-inverse bg-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "Uscan", root_path, class: "navbar-brand" %>
          </div>

               
          <ul class="nav navbar-nav navbar-right">
            <% if signed_in? %>
              <div class="navbar-brand navbar-center">
                Signed in as: <%= current_user.email %>
              </div>
              <li><%= link_to "Comment",{ :action => "index", :controller =>"forms"},  :method => :get %></li>
              <li><%= link_to "Search",{ :action => "search", :controller =>"search"},  :method => :get %></li>
              <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign In", sign_in_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <section class="container">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash alert <%= alert_class(key) %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </section>
    
    
<!--  <div class="vid-bg">
 <div class="vid-bg" style="background-color: #333; z-index: -10">
 
 </div>
 <video muted autoplay loop >
 
 <source src="/assets/landing.mp4" type="video/mp4">
 
 </video>
</div>
    -->
    
    <div id="home-logo">
     <img src="assets/home-logo.png" >
    </div>
  </body>
</html>