<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UScan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body id="welcome">

    <header class="container">
      <nav class="navbar navbar-inverse bg-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "U-Scan", root_path, class: "navbar-brand" %>
          </div>
          <div class="navbar-brand navbar-center">
          Signed in as: <%= current_user.email %>
          </div>
               
          <ul class="nav navbar-nav navbar-right">
            <% if signed_in? %>
              <li><%= link_to "Comment",{ :action => "index", :controller =>"forms"},  :method => :get %></li>
              <li><%= link_to "Search",{ :action => "search", :controller =>"search"},  :method => :get %></li>
              <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign In", sign_in_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <section class="container">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash alert <%= alert_class(key) %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </section>
  </body>
</html>